@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-gold {
  @apply bg-gradient-to-r from-yellow-300 to-yellow-500;
}

.bg-gradient-platinum {
  @apply bg-gradient-to-r from-gray-300 to-gray-500;
}

.bg-gradient-plus {
  @apply bg-gradient-to-r from-pink-300 to-pink-500;
}

.bg-gradient-sidebar {
  @apply bg-gradient-to-t from-fuchsia-800 to-indigo-500;
}

.dark .bg-gradient-sidebar-dark {
  @apply bg-gradient-to-t from-fuchsia-800 to-black;
}

/* In your CSS file or stylesheet */
.backdrop-blur {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  color: #57357e;
  /* Standard */
  -webkit-backdrop-filter: blur(10px);
  /* WebKit */
}

.btn-transparent-border {
  @apply py-1 px-4 rounded-full bg-transparent border-2 border-purple-500 text-purple-500 hover:text-purple-800 hover:border-purple-800 dark:hover:border-purple-400 dark:hover:text-purple-400;
}

/* .border-gradient-logo {
  @apply  border-2 border-gradient-to-r from-fuchsia-500 via-cyan-600 to-purple-600
} */

/* @layer components {
  .border-gradient-logo {
    border: 2px solid;
    border-radius: 40px;
    border-image: linear-gradient(to right, fuchsia, cyan, purple);
    border-image-slice: 1;
   
  }
} */

.gray-text {
  @apply text-gray-500 dark:text-gray-400;
}

.custom-box-shadow {
  box-shadow: rgba(56, 125, 255, 0.3) 0px 6px 20px;
}

.dark-image {
  background-image: url("./assets/images/backgrounds/bg-dark.jpeg");
  /* Add other styles as needed */
}

.light-image {
  background-image: url("./assets/images/backgrounds/bg-light1.webp");
  /* Add other styles as needed */
}

/* Password.css */

@keyframes custom-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.custom-bounce {
  animation: custom-bounce 3s infinite ease-in-out; /* Use ease-in-out for a smoother effect */
}

/* settings */
/* Add these CSS rules to your stylesheets */
@keyframes disappear {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.08);
  }
}

.content__badges_circle {
  border-radius: 50%;
  width: 17px;
  height: 17px;

  position: absolute;
}

/* Random positions for circles */
.content__badges_circle.circle-1 {
  background: linear-gradient(180deg, #fa38cd 0, #0e9ad6 100%);
  animation: disappear 2s ease infinite;
  top: 23%;
  left: 40%;
}

.content__badges_circle.circle-2 {
  background: linear-gradient(180deg, #ff8008 0, #fac538 100%);
  animation: disappear 2s ease infinite;
  top: 85%;
  left: 70%;
}

.content__badges_circle.circle-3 {
  background: linear-gradient(180deg, #12b886 0, #6a67ce 100%);
  top: 45%;
  left: 90%;
  animation: disappear 2s ease infinite;
}

.content__badges_circle.circle-4 {
  background: linear-gradient(180deg, #6a67ce 0, #12b886 100%);
  top: 80%;
  left: 25%;
  animation: disappear 2s ease infinite;
}

.content__badges_circle.circle-5 {
  background: linear-gradient(180deg, #8532a1 0, #fa38f0 100%);
  top: 55%;
  left: 80%;
  width: 10px;
  height: 10px;
}

.content__badges_circle.circle-6 {
  background: linear-gradient(180deg, #fac538 0, #ed8936 100%);
  top: 35%;
  left: 15%;
}

.content__badges_circle.circle-7 {
  background: linear-gradient(180deg, #b454eb 0, #724785 100%);
  top: 5%;
  left: 30%;
}

.content__badges_circle.circle-8 {
  background: linear-gradient(180deg, #12b886 0, #6a67ce 100%);
  width: 10px;
  height: 10px;
  top: 75%;
  left: 85%;
  animation: disappear 2s ease infinite;
}

.content__badges_circle.circle-9 {
  background: linear-gradient(180deg, #6a67ce 0, #12b886 100%);
  width: 10px;
  height: 10px;
  top: 50%;
  left: 10%;
}

.content__badges_circle.circle-10 {
  background: linear-gradient(180deg, #bc70e2 0, #383bfa 100%);
  top: 20%;
  left: 90%;
}

.content__badges_circle.circle-11 {
  background: linear-gradient(180deg, #e0de48 0, #f0e220 100%);
  top: 90%;
  left: 40%;
}

.content__badges_circle.circle-12 {
  background: linear-gradient(180deg, #a3769c 0, #fa38b6 100%);
  top: 40%;
  left: 5%;
  animation: disappear 2s ease infinite;
}

.content__badges_circle.circle-13 {
  background: linear-gradient(180deg, #12b886 0, #6a67ce 100%);
  top: 90%;
  left: 75%;
}

.content__badges_circle.circle-14 {
  background: linear-gradient(180deg, #6a67ce 0, #12b886 100%);
  width: 10px;
  height: 10px;
  top: 65%;
  left: 20%;
}

.content__badges_circle.circle-15 {
  background: linear-gradient(180deg, #ed8936 0, #fac538 100%);
  top: 10%;
  left: 50%;
  animation: disappear 2s ease infinite;
}
.circle-16 {
  position: absolute;
  background: white;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 20%;
  left: 10%;
}
.circle-17 {
  position: absolute;
  background: white;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 60%;
  left: 10%;
}
.circle-18 {
  position: absolute;
  background: white;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 30%;
  left: 70%;
}
.circle-19 {
  position: absolute;
  background: white;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: 85%;
  left: 50%;
}
