@tailwind base;
@tailwind components;
@tailwind utilities;

.logo1 {
  width: 200px;
  padding: 25px;
}

.card-review-img {
  width: 50%;
  height: 12rem;
  border-radius: 100%;
background-color: rgb(224, 213, 235);
  object-fit: cover;
}
